@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body,h1 {font-family: "Raleway", Arial, sans-serif}
    h1 {letter-spacing: 6px}
    .w3-row-padding img {margin-bottom: 12px}

html,
body {
  height: 100%;
}

.full-height {
  height: 100%;
}
