html {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #4a4848;
  color: #d5c7a3;
}

.styled-center {
  padding: 64px 16px;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.marg-d {
  margin-bottom: 10px;
}

.marg-t {
  margin-top: 10px;
}

.padd16 {
  padding: 16px;
}

.padd-tb-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* .........font.......... */


.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.large-font {
  font-size: 24px !important;
}

.larger-font {
  font-size: 36px !important;
}

.medium-font {
    font-size: 22px;
}

.small-font {
    font-size: 18px;
}

/* .........text.......... */
.text-center {
  text-align: center !important;
}


/*.........links.......*/


a {
  border-bottom: 2px solid red;
  display: inline-block;
  line-height: 1em;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: none !important;
}
a:active {
  color: #fff;
  text-shadow: none !important;
}
a:visited {
  color: #fff;
  text-shadow: none !important;
}