html {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100%;
  background-color: #1c1c1c;
  color: #f5e8d8;
  text-align: center !important;
}

.light-mode body {
  background-color: #f5e8d8;
  color: #1c1c1c;
}

hr {
  margin: 1.25em auto;
  width: 40%;
  color: #daa520;
}

.material-symbols-outlined {
cursor: pointer;
}

.light-mode hr {
  color: #1c1c1c;
}

.styled-center {
  padding: 110px 16px 0 16px;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.marg-d {
  /* 10px */
  margin-bottom: 0.625em;
}

.marg-t {
  /* 10px */
  margin-top: 0.625em;
}

.padd16 {
  /* 16px */
  padding: 1em;
}

.padd-tb-16 {
  /* 64px */
  padding-top: 1em;
  padding-bottom: 1em;
}

/* .........font.......... */

.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.small-font {
  font-size: 0.875em;
}

.medium-font {
  font-size: 1.125em;
}

.large-font {
  font-size: 1.18em !important; 
  /* 22px */
}

.larger-font {
  font-size: 1.375em !important;
}

/* .........text.......... */

ul {
  list-style-type: none;;
}

.left-text {
  text-align: left;
}

.social-links li:not(:last-child) {
  margin-right: 0.8rem;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.25em;
}

.social-links li {
  display: inline-block;
}

/*.........links.......*/

a {
  border-bottom: 2px solid inherit;
  display: inline-block;
  line-height: 1em;
  color: #fc9389;
  text-decoration: none;
}

.light-mode a {
  color: #0290f5;
}

a.inline {
  color: #f5e8d8;
text-decoration: underline;
font-style: italic;

}

.light-mode a.inline {
  color: #1c1c1c;
}

a:hover, a:active {
  color: #ff4500;
  cursor: pointer;
  text-shadow: none !important;
}

.light-mode a:hover,
.light-mode a:active {
  color: #005599;
}


/* my github styling */
a.button.two:before, a.button.two:after{
  opacity: 0;
  transition: all 0.3s ease;  
  font-size: 20px;
}
a.button.two:before{
  content: '{';
}
a.button.two:after{
  content: '}';
}

a.button.two:hover:before{
  margin-right: 10px;
  content: '{';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 1;
}
a.button.two:hover:after{
  margin-left: 10px;
  content: '}';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 1;
}
