@media only screen and (max-device-width: 474px) {
  .container {
    margin: auto;
    width: 90%;
    padding: 10px;
  }

  hr {
  margin: 40px auto;
  width: 90%;
  color: #DAA520;
}

.social-links li {
  display:list-item;
  margin-bottom: 10px;
}

}