@media only screen and (max-device-width: 474px) {
  .container {
    margin: auto;
    width: 90%;
    padding: 10px;
  }

  hr {
    margin: 40px auto;
    width: 90%;
    color: #daa520;
  }

  .social-links li {
    display: list-item;
    margin-bottom: 10px;
  }

  footer {
    font-size: 0.88em !important; 
  }

  footer a {
    font-size: 1.18em !important; 
  }

  div p {
    font-size: 1.28em !important; 
  }
}
